In [3]:
# Prefix shell commands with an exclamation mark.
!pip install pyspark

Requirement already satisfied: pyspark in /home/sam/anaconda3/envs/pyspark-tutorial/lib/python3.9/site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /home/sam/anaconda3/envs/pyspark-tutorial/lib/python3.9/site-packages (from pyspark) (0.10.9.5)

In [1]:
# If the package has been installed properly, then an import will NOT throw an error.
import pyspark

In [2]:
# How to read data with Pandas.
import pandas as pd
pd.read_csv("test1.csv")

    Name   Age
0  Steve    30
1   Bill    31
2   John    32

In [3]:
# How to read data with PySpark. You need to start a Spark session first.
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("Practice").getOrCreate()